@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

$font-family: 'League Spartan', sans-serif;

$background-color: #000;

$border-color: #fff;

// fontSizes
$font-size-sm:1rem;
$font-size-md:1.5rem;
$font-size-lg:2rem;
$font-size-xl:2.5rem;


// width 
$width-sm:6rem;
$width-md:8rem;
$width-lg:10rem;
$width-xl:12rem;

// height
$height-sm:6rem;
$height-md:8rem;
$height-lg:10rem;
$height-xl:12rem;

// borderRadius
$border-radius-one:0.5rem;
$border-radius-two:1.5rem;


