@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

$font-family: 'League Spartan', sans-serif;

$background-color: #000;
$box-shadow-color:rgba(255, 255, 255, 0.8);

$border-color: #fff;

// fontSizes
$font-size-sm:1rem;
$font-size-md:1.5rem;
$font-size-lg:2rem;
$font-size-xl:2.5rem;

//textColor
$font-color-white:#fff;
$font-color-black:#000;


// width 
$width-sm:6rem;
$width-md:8rem;
$width-lg:25rem;
$width-xl:30rem;

// height
$height-sm:6rem;
$height-md:8rem;
$height-lg:10rem;
$height-xl:30rem;
$height-xs:15rem;


// borderRadius
$border-radius-one:0.5rem;
$border-radius-two:1.5rem;


// error
$error-color:#AA0000;

// button-color
$button-color:#008000;
$button-previous:#FDDA0D;
$button-previous-disabled:#FFFF8F;
$button-next:#FF5733 ;
$button-next-disabled:	#EE4B2B;
$button-edit:#002D62;

