@use '../../../styles/mixins';
@use '../../../styles/variables';

.del-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1); 
  backdrop-filter: blur(0.1rem); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);

  .del {
    width: variables.$width-lg;
    height: variables.$height-md;
    padding: 20px;
    background: #ffffff; 
    border-radius: variables.$border-radius-one;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    

    h3 {
      font-size: variables.$font-size-md;
      color: variables.$font-color-black;
      margin-bottom: 20px;
    }

    .buttons {
      @include mixins.flex-layout(row, center, center);
      gap: 1rem;
    }

    .btn-delete {
      background-color: variables.$button-color;
      color: variables.$font-color-white;
      border: none;
      border-radius: variables.$border-radius-one;
      padding: 0.5rem;
      font-size: variables.$font-size-sm;
      transition: background-color 0.3s ease-in-out;
      &:hover {
        cursor: pointer;
      }
    }

    .btn-cancel {
      background-color: variables.$error-color;
      color: variables.$font-color-white;
      border: none;
      border-radius: variables.$border-radius-one;
      padding: 0.5rem;
      font-size: variables.$font-size-sm;
      transition: background-color 0.3s ease-in-out;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
